<form>
    <div class="form-group">
        <label for="burgerAddName"><h2>Add Burger to be Devoured</h2></label>
        <input type="text" class="form-control" id="burgerAddName" placeholder="New Burger Name">
    </div>
    <button id="burgerAddBtn" type="submit" class="btn btn-primary"><i class="fas fa-hamburger"></i> Add Burger</button>
</form>

<br><hr><br>

<h2 class="h2">Burgers that need to be devoured...</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Burger Name</th>
            <th scope="col">Devoured</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each burgers}}
            {{#unless this.devoured}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.burger_name}}</td>
                <td>FALSE</td>
                <td>
                    <button class="btn btn-primary devourBtn" data-id="{{this.id}}"><i class="fas fa-utensils"></i> Devour IT!!</button>
                </td>
            </tr>
            {{/unless}}
        {{/each}}
    </tbody>
</table>
<br>

<h2 class="h2">Burgers that have been devoured!!</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Burger Name</th>
            <th scope="col">Devoured</th>
        </tr>
    </thead>
    <tbody>
        {{#each burgers}}
            {{#if this.devoured}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.burger_name}}</td>
                <td>TRUE</td>
            </tr>
            {{/if}}
        {{/each}}
    </tbody>
</table>

